.hill, .App, .hill div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.hill div {
  width: 20vw!important;
  height: 10vh;
  margin: 4em;
}

.hill div img {
  width: 50%;
}